{% extends "LostUserBundle::layout.html.twig" %}

{% block body %}
<div class="innerBg">
    <!--middle start here-->
    <div class="container">
        <div class="underConst">
            <div class="leftcont">
                <img src="{{ asset('bundles/Lostuser/images/underConst.png') }}" alt="opps" width="256" height="256" />
            </div>
            <div class="rightcont">
                <h1>Maintenance Mode!</h1>
                <p>This site is undergoing a brief bit of maintenance.</p>

                <p>We apologize for the inconvenience, we’re doing our
                    best to get things back to working order for you.</p>
            </div>

        </div>
    </div>
</div>
{% endblock %}


