<p>Hello {{ user.name }},<p>
<br />
Your username is <strong>{{user.username}}</strong>
<br />
Please click on the link to login.
<br /><br />
<a href="{{ url('fos_user_security_login') }}">{{ url('fos_user_security_login') }}</a>
<br /><br />

Thank you,
<br />
Lost Telecom Group
