{% extends "LostAdminBundle::layout.html.twig" %}

{% block body %}
    <div class="container min_cont_hight">
        <div class="row">
            {% include "LostUserBundle::flashMessage.html.twig" %}
        
            <center><h2>Welcome to dashboard!</h2></center>
            
        </div>
    </div>
{% endblock body %}