<form action="javascript:void(0);" {{ form_enctype(form) }} method="POST" class="" id="addMacAddress" novalidate>
                                    
            <li class="input_field">
                
                {{ form_widget(form.macAddress, { 'attr': {'data-prompt-position': 'topRight', 'placeholder': 'User Mac Address'}}) }}
                
                <div class="serverError">
                    
                    {% if form_errors(form.macAddress) %}
                        {{ form_errors(form.macAddress) }}
                    {% endif %}
                </div>
                
            </li>
                                    
            {{ form_rest(form) }}
            <li class="submit"><input type="submit" name="submit" id="submitAddMacAddress" value="Save" class="submitBtn"></li>
</form>